body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, lightblue, white);
}

#root {
  height: 100%;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: #333;
  text-align: center;
}

.welcome-message {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  background-color: linear-gradient(to bottom, lightblue, white);
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.button:hover {
  border-color: linear-gradient(to bottom, lightblue, white);
  text-decoration: none;
  color: #333;
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}